body{
    /*cursor: url('./src/img/svg/cursor-balle-ping.svg') 16 16, auto;*/
    /*cursor: url('./src/img/svg/cursor-balle-ping.svg') 16 16, auto;    */
    font-size: 16px;

}

a{
    cursor: pointer;
}

.accueil{
    margin: 5% 0;

}


.acceuille__titile{
    text-align: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 2rem 3rem;
    margin:0 0 15% 0;
    width: 100%;
    height: auto;
}
h3{
    font-size: 3rem;
    margin: 10% 5%;
    width: 100%;
}

.titile__page{
    width: 100%;
}

.balle__img__animation{
    position: absolute;
    width: 5%; /* adapte à ta taille */
    height: auto;
    animation: rouler 10s  infinite;
}
/* Animation qui fait aller-retour avec rotation */
@keyframes rouler {
    0% {
        left: -10px;
        transform: rotate(0deg);
    }
    50% {
        left: calc(100% ); /* largeur totale - taille balle */
        transform: rotate(720deg);
    }
    100% {
        left: -10px;
        transform: rotate(1440deg);
    }
}

.logo__dore{
}
.img__logo__dore{

    margin: 5% -350% 5% ;

}
.balle__animation>img{
    width: 10%;
    height: 10%;
    margin-top: -10%;
}

.titile__page,
.projets__liste__titile,
.animation__metier>h2{
    font-size: 3rem;
    background-color: black;
    color: white;
    text-align: center;
    margin: 2.5% 0;
    padding: 2.5% 0;
    font-weight: 800;
    width: 100%;
    height: auto;
}

.acceuille__about__me{
    font-family: 'Didot';
    margin-right: 5%;
    margin-left: 75%;

}
.name__complet{
    font-size: 3rem;
    width: auto;
    border-bottom: 5px solid #EBC480;
    margin-bottom: 5%;
}
.about__me{
    font-size: 1rem;
    max-width: 500px;
}

.projets{
    display: inline;
}

.carte-projet{
    background-color: black;
    color: white;
    padding: 2.5%;
    margin: 10%;
    width: 25%;
    height: auto;
}

.projet__title{
    color: #E5C589;
    font-size: 2rem;
}

.projet__liens{
    text-decoration: none;
    color: white;
}
.projet__liens::after{
content: url("../img/balle-icone.png");
top: 10px;
}

.metiers{
    width: 50%;
    margin-left: 2.5%;
}

.raquette__balle{
    width: 80%;
    height: auto;
    margin-top: 50%;
    display: flex;
}

.metiers{
    margin-top: -15%;
}

.metier{
    text-transform: uppercase;
    font-size: 3.5rem;
    width: 60%;
    text-shadow: 7px 7px 4px rgba(235,196,128,0.52);
}
.bouton-projets{
    color: #000000;
    font-size: 3rem;
    background-color: #E63946;
    padding: 1%;
    margin: 0 5%;
    border-radius: 5px;
    border-color: transparent;
    width: 100%;
    text-decoration: none;
}
.bouton-projets:hover{
    background-color: #6c000a;
    color: white;
}

.animation__metier>p:first-of-type{
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 10%;
}
.animation__metier>p:first-of-type:before {
    content: url("../img/balle-ping-pong-orange.png");
}
.animation__metier>p:last-of-type{
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 10%;
}
.animation__metier>p:last-of-type:after {
    content: url("../img/balle-ping-pong-orange.png");
}


.animations__text {
    font-size: 3rem;
    margin-top: 15%;
    margin-left: 10%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
}
.animations__text:first-of-type::before{
    content: url("../img/balle-ping-pong-orange.png");
    position: relative;

}

.animation__text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-right 10s linear infinite;
    font-size: 24px;
    color: black;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%) ;
    }
    100% {
        transform: translateX(100%);
    }

}