body{
    /*cursor: url('./src/img/svg/cursor-balle-ping.svg') 16 16, auto;*/
    /*cursor: url('./src/img/svg/cursor-balle-ping.svg') 16 16, auto;    */
    font-size: 16px;

}

a{
    cursor: pointer;
}

.accueil{
    margin: 5% 0;

}


.acceuille__titile{
    text-align: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 2rem 3rem;
    margin:0 0 15% 0;
    width: 100%;
    height: auto;
    font-weight: 100;

}
h3{
    font-size: 3rem;
    width: 100%;
}

#accueil__portfolio{
    margin-bottom: 2.5%;
}


.balle__img__animation{
    position: absolute;
    width: 5%; /* adapte à ta taille */
    height: auto;
    animation: rouler 10s  infinite;
    margin-bottom: 10%;
}
/* Animation qui fait aller-retour avec rotation */
@keyframes rouler {
    0% {
        left: -10px;
        transform: rotate(0deg);
    }
    50% {
        left: calc(90% ); /* largeur totale - taille balle */
        transform: rotate(720deg);
    }
    100% {
        left: -10px;
        transform: rotate(1440deg);
    }
}

.logo__dore{
    margin-top: 10%;
}
.img__logo__dore{

    margin: 5% 10% 5% ;

}
.balle__animation>img{
    width: 10%;
    height: 10%;
    margin-top: -10%;
}

.titile__page,
.projets__liste__titile,
.animation__metier>h2{
    font-family: Didot, 'arial', sans-serif;
    background-color: black;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin: 5% 0;
    color: white;
    padding: 1.5rem;
    font-weight: 100;
}

.acceuille__about__me{
    font-family: 'Didot';
   display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20%;
    margin-bottom: 5%;
    margin-top: 10%;
}

.about__me__text{
}
.name__complet{
    font-size: 3rem;
    width: 100%;
    margin-bottom: 5%;
}
.acceuille__about__me p{
    font-size: 1rem;
    width: 75%;
}

.projets{
    margin: 5%;
}

.liste-projets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    grid-gap: 5%;
}
.carte-projet{
    width: 80%;
    background-color: black;
    color: white;
    margin: 5% 0;
    height: auto;
}

.projet__title{
    color: #E5C589;
    font-size: 2rem;
}
.carte-projet{
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding: 1rem 0.5rem;
}
.carte-projet p{
    width: 70%;
    margin-bottom: 5%;
    margin-left: 5%;
}
.carte-projet h3,
.carte-projet a{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.projet__liens{
    text-decoration: none;
    color: white;
}
.projet__liens::after{
content: url("../img/balle-icone.png");
}
.projet__liens::after:hover{
content: url("../img/balle-icone.png");

}
.projet__liens:hover{
    border-bottom: 1px solid white;
}
.metiers{
    width: 50%;
    margin-left: 2.5%;
}

.raquette__balle{
    width: 80%;
    height: auto;
    margin-top: 50%;
    display: flex;
}

.metiers{
    margin-top: -15%;
}

.metier{
    font-size: 3.5rem;
    width: 60%;
    text-shadow: 7px 7px 4px rgba(235,196,128,0.52);
}


.bouton-projets{
    color: #000000;
    font-size: 2rem;
    background-color: #E63946;
    padding: 0.5%;
    border-radius: 5px;
    border-color: transparent;
    text-decoration: none;
    margin-left: 5%;
}
.bouton-projets:hover{
    background-color: #6c000a;
    color: white;
}

.animation__metier{
margin: 10% 0;
}

.animation__metier > .metier {
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    animation: defilement-rtl 15s infinite linear;
}

.animation__metier>p:first-of-type{
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 10%;
}
.animation__metier>p:first-of-type:before {
    content: url("../img/balle-ping-pong-orange.png");
}
.animation__metier>p:last-of-type{
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 10%;
}
.animation__metier>p:last-of-type:after {
    content: url("../img/balle-ping-pong-orange.png");
}


.animations__text {
    font-size: 3rem;
    margin-top: 15%;
    margin-left: 10%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
}
.animations__text:first-of-type::before{
    content: url("../img/balle-ping-pong-orange.png");
    position: relative;
}

#metier__web{
    animation: defilementWeb 15s  infinite;
}
@keyframes defilementWeb {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);

    }
}
#metier__designer{
    animation: defilementdesigner 15s  infinite;
}
@keyframes defilementdesigner {
    0%{
        transform: translateX(100%);
    }
    90%{
        transform: translateX(0%);

    }
}