body{
    /*cursor: url('./src/img/svg/cursor-balle-ping.svg') 16 16, auto;*/
    cursor: url('./src/img/svg/cursor-balle-ping.svg') 16 16, auto;
    font-size: 16px;
    background-color:#8C9CCD;
    color: #000000;
    margin-top: 10%;
}
.balle__animation>img{
    width: 10%;
    height: 10%;
    margin-top: -10%;
}

.acceuille__title{
    font-family: 'Didot';
    margin-right: 5%;
    margin-left: 75%;

}
.name__complet{
    font-size: 3rem;
    width: auto;
    border-bottom: 5px solid #EBC480;
}
.about__me{
    font-size: 1rem;
    max-width: 500px;
}
.metiers{
    width: 50%;
    margin-left: 2.5%;
}

.metier{
    text-transform: uppercase;
    font-size: 3.5rem;
    width: 60%;
    text-shadow: 7px 7px 4px rgba(235,196,128,0.52);
}
button{
    color: #000000;
    font-size: 2rem;
    background-color: #E63946;
    padding: 1.5%;
    border-radius: 5px;
    border-color: transparent;
    width: 50%;
}
button:hover{
    background-color: #6c000a;
    color: white;
}
.animation__metier>p:first-of-type{
    font-size: 3rem;
    margin-top: 15%;
    margin-left: 10%;
}
.animation__metier>p:first-of-type:before {
    content: url("./src/img/balle-icone.png");
}
.animation__metier>p:last-of-type{
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 10%;
}
.animation__metier>p:last-of-type:after {
    content: url("./src/img/balle-icone.png");
}


/*animation*/
.animation__metier{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.animation{
    display: inline-block;
    animation: scroll 5s linear infinite;
}
.animation>p{
    display: inline-block;
    padding-right: 20px; /* Espace entre les copies */
}
@keyframes scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}