body{
    background-color: #8C9CCD;
    font-family: Didot;
}

.form__titile{
    text-align: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 2rem 3rem;
    margin:5% 0;
    width: 100%;
    height: auto;
}

h3{
    font-family: Zapfino;
    font-size: 1.5rem;
    margin-bottom: 2%;
    font-weight: 200;
    font-style: italic;
}

.contact{
    display: flex;
}

.titile__bloc__form{

}

.info__form{
    margin-left: 10%;
    margin-bottom: 1%;
}
.info__form p{
    font-family: Cormorant Garamond;
    font-style: italic;
}

.text__form{
    font-style: italic;
    font-size: 2rem;
}

.form{
    margin: 0 10%;
    width: auto;
    padding: 2% 5%;
    height: auto;
    background-color: black;
    color: white;
}
.form__elements{
    margin: 5% auto;
}
.form__elements>label{
    display: block;
    margin-bottom: 1%;

}
#form__sujet>label{
    background-color: black;
    color: white;

}
#form__sujet>select{
    border: 1px solid #E5C589;
}

textarea{
    background-color: black;
    color: white;
    border: 1px solid #E5C589;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 2%;
    margin-bottom: 5%;
}

span{
    color: #E63946;
}

input{
    background-color: black;
    border: 1px solid #E5C589;
}
input:hover{
    background-color: white;
    color: black;
}

#subjetMessage{
    background-color: black;
    color: white;
}
button{
    background-color: #E63946;
    color: white;
    border: none;
    padding: 2% 5%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 5px 10px 23px -1px rgba(255,255,255,0.69);
    box-shadow: 5px 10px 23px -1px rgba(255,255,255,0.69);

}
button:hover{
    background-color: #C0002A;
}
.coordonnees{
    width: 100%;
    height: auto;

}
.coordonnee__info{
    margin-bottom: 2%;
    }
#email::before{
    content: url("../img/icone-email.png");
    display: inline-block; /* Important pour appliquer width/height */
    transform: scale(0.8); /* Alternative pour redimensionner */
    vertical-align: middle; /* Alignement vertical */
    margin-right: 8px; /* Espacement à droite */
    position: relative;
}

#number__tel::before{
    content: url("../img/icone-tel.png");
    display: inline-block; /* Important pour appliquer width/height */
    transform: scale(0.8); /* Alternative pour redimensionner */
    vertical-align: middle; /* Alignement vertical */
    margin-right: 8px; /* Espacement à droite */
    position: relative;
}
#adresse::before{
    content: url("../img/icone-maps.png");
    display: inline-block; /* Important pour appliquer width/height */
    transform: scale(0.8); /* Alternative pour redimensionner */
    vertical-align: middle; /* Alignement vertical */
    margin-right: 8px; /* Espacement à droite */
    position: relative;

}