body{
    background-color: #8C9CCD;
    font-family: Didot;
}

h1{
    text-align: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    padding: 2rem 3rem;
    margin:5% 0;
    width: 100%;
    height: auto;
}

h2{
    font-size: 2rem;
    margin-bottom: 2%;
    font-weight: 700;
}

.contact{
    display: flex;
}

.titile__bloc__form{
    font-style: italic;
    font-size: 2.5rem
}

.info__form{
    margin-left: 10%;
    margin-bottom: 5%;
}

.text__form{
    font-style: italic;
    font-size: 2rem;
}

.form{
    margin: 0 10%;
    width: auto;
    padding: 2% 5%;
    height: auto;
    background-color: black;
    color: white;
}
.form__elements{
    margin: 5% auto;
}
.form__elements>label{
    display: block;
    margin-bottom: 1%;
}
#form__sujet>label{
    background-color: black;
    color: white;

}
#form__sujet>select{
    border: 1px solid #E5C589;
}

textarea{
    background-color: black;
    color: #E5C589;
}

span{
    color: #E63946;
}

input{
    background-color: black;
    border: 1px solid #E5C589;
}
input:hover{
    background-color: white;
    color: black;
}
button{
    background-color: #E63946;
    color: white;
    border: none;
    padding: 2% 5%;
}
button:hover{
    background-color: #C0002A;
}
.coordonnees{
    width: 75%;
    height: auto;

}
.coordonnee__info{
    margin-bottom: 2%;
    width: 50%;
}
.coordonnee__info:first-of-type{
    border-bottom: 1px solid black;
}
.apps>li{
    display: inline;
    margin: 0 2%;
}
li>img{
    width: 25%;
    height: 50%;
}

#email{
    border-bottom: 1px solid black;
}
#email::before{
    content: url("../img/icone-email.png");
}
#number__tel{

}
#number__tel::before{
    content: url("../img/icone-tel.png");
}
#adresse::before{
    content: url("../img/icone-maps.png");

}