*{
    font-size: 16px;
}

body{
    background-color: #8C9CCD;
    font-family: Didot;
}
h1{
    display: none;
}

nav {
    width: 100%;
    background: #E63946;

}
nav ul{
    list-style: none;
    margin: auto 25%;
   display: flex;
}
nav li{
    display: inline;
    width: auto;
    height: auto;
    color: white;
    font-size: 1rem;
    margin: auto 7%;
}
nav li:hover{
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}

/* Séparateur particulier pour le dernier élément */
nav li.redirection:last-child {
    background-color: black;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin: 0 54%;
    padding: 2% 15% !important;
    width: auto;
    text-align: center;

}
nav a{
    text-decoration: none;
    color: white;
}
