.title__single__projet{
    background-color: black;
    color: white;
    font-size: 3rem;
    margin: 5% 0;
    padding: 1rem;
    text-align: center;
}

body, a, button {
    cursor: url('../img/balle-icone.png'), auto;
}

a:hover, button:hover {
    cursor: url('../img/balle-icone.png'), pointer;
}

.titile__Proget__detailler{
    font-size: 2rem;
    font-style: italic;
    margin: 0 5%;
}
.projet__text{
}
.projet__text h3{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    margin-left: 5%;
    margin-bottom: 5%;
}
.projet__text p{
    margin-left: 5%;
    line-height: 4vh;
}
.projet__info{
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
    align-items: start;
    /*align-content: center;*/
}


.image-projet{
    margin-top: -30%;
}


.image-projet img{
    width: 100%;
    height: auto;
    object-fit: cover; /* Recadre l'image sans la déformer */
}
.projet__text{
    grid-column: 2;

}

.btn-decouvrir{
    margin-left: 5%;
    background-color: #C0002A;
    color: white;
    text-align: center;
    align-items: center;
    padding: 1rem;
    text-transform: none;
    text-decoration: none;

}
.btn-decouvrir:hover{
    background-color: #590013;


}

.scroll-indicator {
    text-align: center;
}
.scroll-indicator p{
    margin-bottom: 2%;
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
}

.scroll-indicator img {
    animation: bounce 2s infinite;
    width: 3%;
    height: auto;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}